<div class="row" >

  <div class="col-md-offset-1 col-md-5">
      <%= form_with model: @todo, local: true do |f| %>
        <p> <%= f.label :description, "Descripción" %> </p>
        <%= f.text_area :description %>
        <p> <%= f.label :completed, "Completado" %> <%= f.check_box :completed %></p>
        <p><%= f.submit  "Enviar" %></p>
    </div>
</div>

<% end %>
